<div class="container">
  <div class="row">
    <div
      class="col d-flex flex-column justify-content-center align-items-center my-5"
    >
      <div class="img-404">
        <img
          src="https://www.shutterstock.com/image-vector/vector-oops-symbol-600nw-133546157.jpg"
          alt="404"
          class="images-responsive"
        />
      </div>
      <h1>404</h1>
      <p>The page you're looking for doesn't exist.</p>
      <a routerLink="/" class="btn btn-dark">Return to Homepage</a>
    </div>
  </div>
</div>
