<div
  class="col-xs-12 col-md-8 mx-auto border border-2 p-3 m-4 rounded-2 main-container"
>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Signup</h1>
      </div>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="row">
        <div class="col">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            formControlName="firstName"
          />
          <div
            *ngIf="
              signupForm.get('firstName')?.invalid &&
              signupForm.get('firstName')?.touched
            "
            class="error"
          >
            Valid First Name is required
          </div>
        </div>
        <div class="col">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            formControlName="lastName"
          />
          <div
            *ngIf="
              signupForm.get('lastName')?.invalid &&
              signupForm.get('lastName')?.touched
            "
            class="error"
          >
            Valid Last Name is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
          />
          <div
            *ngIf="
              signupForm.get('email')?.invalid &&
              signupForm.get('email')?.touched
            "
            class="error"
          >
            Valid Email is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="password">Password:</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              [ngClass]="{
                'invalid-group':
                  signupForm.get('password')?.invalid &&
                  signupForm.get('password')?.touched
              }"
              id="password"
              name="password"
              formControlName="password"
            />
            <button
              type="button"
              class="btn btn-outline-secondary btn-eye"
              (click)="togglePasswordVisibility('password')"
              [ngClass]="{
                'btn-invalid btn-outline-danger':
                  signupForm.get('password')?.invalid &&
                  signupForm.get('password')?.touched,
              }"
            >
              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </button>
          </div>
          <div
            *ngIf="
              signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched
            "
            class="error"
          >
            Valid Password is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="confirmPassword">Confirm Password:</label>
          <div class="input-group">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              class="form-control"
              [ngClass]="{
                'invalid-group':
                  signupForm.get('password')?.invalid &&
                  signupForm.get('password')?.touched
              }"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
            />
            <button
              type="button"
              class="btn btn-outline-secondary btn-eye"
              (click)="togglePasswordVisibility('confirmPassword')"
              [ngClass]="{
                'btn-invalid btn-outline-danger':
                  signupForm.get('confirmPassword')?.invalid &&
                  signupForm.get('confirmPassword')?.touched,
              }"
            >
              <i
                [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"
              ></i>
            </button>
          </div>
          <div
            *ngIf="
              signupForm.get('confirmPassword')?.invalid &&
              signupForm.get('confirmPassword')?.touched
            "
            class="error"
          >
            Passwords do not match
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="submit-btn btn btn-primary">
            Signup
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col d-flex align-items-center justify-content-center">
    <p>Already have an account? <a routerLink="/"> Login here.</a></p>
  </div>
</div>
<div class="col-xs-12 col-md-8 mx-auto">
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>
</div>